@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Sree+Krushnadevaraya&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Lora", serif;
}

.container {
  width: 1080px;
  margin: 0 auto;
}

.overlay {
  display: none;
  position: absolute;
  top: 0;
  z-index: 4;
  width: 100%;
  height: 3528px;
  background-color: rgba(0, 0, 0, 0.2);
}
.overlay-active {
  display: block;
}
.overlay__btn {
  position: relative;
  left: 1129px;
  top: 150px;
  font-size: 30px;
  opacity: 40%;
  border: none;
  background-color: transparent;
  transition: 0.7s;
}
.overlay__btn:hover {
  transition: 0.3s;
  opacity: 100%;
}

.login {
  display: none;
  z-index: 3;
  margin: 100px auto 0;
  padding: 42px 40px;
  width: 752px;
  background-color: white;
  text-align: center;
}
.login__title {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 25px;
}
.login__form {
  margin: 0 auto;
}
.login__text {
  color: #9E9376;
  margin-top: 15px;
  color: #000000;
  opacity: 40%;
}
.login__icon {
  padding: 15px 81px;
  margin: 0 auto;
  margin-bottom: 51px;
}
.login-active {
  display: block;
}
.login__main-text {
  width: 668px;
  margin: 0 auto;
  font-size: 18px;
}
.login__if-text {
  margin-top: 101px;
  margin-bottom: 34px;
  font-size: 18px;
}
.login__number {
  margin-bottom: 10px;
  font-size: 18px;
}
.login__email {
  margin-bottom: 77px;
  font-size: 18px;
}

.book {
  width: 413px;
  position: relative;
  z-index: 3;
  border: none;
  border-radius: 2px;
  background-color: #DAC3C8;
  color: white;
  font-size: 24px;
  padding: 11px 64px 11px 64px;
  transition: 0.7s;
}
.book:hover {
  background-color: #919B5B;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

header {
  background-color: #DAC3C8;
}

.overlay {
  display: none;
  position: absolute;
  top: 0;
  z-index: 4;
  width: 100%;
  height: 3528px;
  background-color: rgba(0, 0, 0, 0.2);
}
.overlay-active {
  display: block;
}
.overlay__btn {
  position: relative;
  left: 65%;
  top: 150px;
  font-size: 30px;
  opacity: 40%;
  border: none;
  background-color: transparent;
  transition: 0.7s;
}
.overlay__btn:hover {
  transition: 0.3s;
  opacity: 100%;
}

.login {
  display: none;
  z-index: 3;
  margin: 100px auto 0;
  padding: 42px 40px;
  width: 471px;
  background-color: white;
}
.login__title {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
}
.login__form {
  margin: 0 auto;
  width: 400px;
}
.login__text {
  margin-top: 15px;
  color: #000000;
  opacity: 40%;
}
.login__input {
  width: 100%;
  padding: 5px 5px;
  font-size: 18px;
  border: none;
  border-bottom: 1px solid rgb(118, 118, 118);
  background-color: transparent;
}
.login__input:focus {
  border-bottom: 2px solid #000000;
  outline: none;
}
.login__input-phone {
  width: 100%;
  padding: 5px 5px;
  font-size: 18px;
  border: none;
  border-bottom: 1px solid rgb(118, 118, 118);
  background-color: transparent;
}
.login__input-phone:focus {
  border-bottom: 2px solid #000000;
  outline: none;
}
.login__icon {
  padding: 15px 81px;
  margin: 0 auto;
}
.login__btn {
  color: white;
  display: block;
  margin: 0 auto;
  padding: 6px 73px;
  font-size: 18px;
  background-color: #DAC3C8;
  border: none;
  margin-top: 50px;
  border-radius: 2px;
  transition: 0.7s;
}
.login__btn:hover {
  background-color: #919B5B;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.login__reg {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  border: none;
  background-color: transparent;
  color: #9E9376;
  transition: 0.7s;
}
.login__reg:hover {
  transition: 0.3s;
  font-size: 16px;
  color: #000000;
}
.login-active {
  display: block;
}

.nav {
  width: 960px;
  font-size: 24px;
  margin: 0 auto;
}
.nav__logo {
  padding-top: 54px;
  padding-bottom: 36px;
  text-align: center;
}
.nav__items {
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
  position: relative;
  z-index: 3;
}
.nav__item {
  color: white;
  text-decoration: none;
  display: block;
  transition: 0.7s;
}
.nav__item:hover {
  color: rgb(117, 117, 117);
  transition: 0.4s;
}
.nav__lk {
  background-color: transparent;
  border: none;
}
.nav__user {
  width: 30px;
  opacity: 60%;
  transition: 0.7s;
}
.nav__user:hover {
  opacity: 100%;
  transition: 0.4s;
}
.nav__subnav {
  position: relative;
  display: inline-block;
}
.nav__subnav:hover .nav__subnav-content {
  display: block;
  background-color: white;
}
.nav__subnav-btn {
  color: white;
  font-size: 24px;
  border: none;
  background-color: transparent;
  transition: 0.7s;
}
.nav__subnav-btn:hover {
  color: rgb(117, 117, 117);
  transition: 0.4s;
}
.nav__subnav-content {
  display: none;
  position: absolute;
  width: 220px;
  padding: 10px;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  font-size: 21px;
  text-decoration: none;
}
.nav__subnav-item {
  color: black;
  text-decoration: none;
  display: block;
}
.nav__subnav-item:nth-child(1) {
  margin-bottom: 10px;
}
.nav__subnav-item:hover {
  color: #919B5B;
}

.goods {
  display: flex;
  justify-content: center;
  margin-top: 160px;
  margin-bottom: 150px;
}
.goods__branch-up {
  position: absolute;
  transform: translate(-384px, -498px);
  z-index: 2;
}
.goods__branch-down {
  position: absolute;
  transform: translate(690px, 430px);
  z-index: 2;
}
.goods__photo {
  outline: 2px solid #d1b0b8;
  transition: all 0.4s;
  border: 20px solid #fff;
  width: 400px;
}
.goods__info {
  padding-left: 80px;
}
.goods__name {
  padding-top: 105px;
  font-size: 24px;
}
.goods__atricle {
  padding-top: 62px;
  font-size: 18px;
}
.goods__price {
  padding-top: 22px;
  padding-bottom: 78px;
  font-size: 18px;
}

.footer {
  background-color: #DAC3C8;
  font-size: 24px;
  color: white;
}
.footer__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 104px;
  padding-bottom: 90px;
}
.footer__phone {
  margin-bottom: 20px;
}
.footer__social-items-icons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.footer__copyright {
  background-color: #BD9CA3;
}
.footer__copyright-text {
  font-size: 16px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media (max-width: 480px) {
  .nav {
    width: 460px;
  }
  .nav__items {
    text-align: center;
    display: block;
  }
  .nav__item {
    padding-bottom: 10px;
  }
  .nav__subnav {
    padding-bottom: 10px;
  }
  .nav__user {
    padding-top: 10px;
  }
  .container {
    width: 480px;
  }
  .goods {
    display: block;
    text-align: center;
  }
  .goods__photo {
    width: 370px;
  }
  .goods__info {
    padding: 0;
  }
  .goods__name {
    width: 450px;
    margin-left: 15px;
  }
  .footer {
    margin-top: 50px;
  }
  .footer__flex {
    display: block;
    text-align: center;
  }
  .footer__contacts {
    margin-bottom: 30px;
  }
  .footer__social-title {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .footer__social-items-icons {
    width: 250px;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .nav {
    width: 760px;
    margin: 0;
  }
  .nav__items {
    text-align: center;
    width: 751px;
  }
  .nav__item {
    font-size: 18px;
    padding-top: 7px;
  }
  .nav__subnav-btn {
    font-size: 18px;
  }
  .container {
    width: 750px;
  }
  .goods__photo {
    width: 345px;
    margin-left: 10px;
  }
  .goods__info {
    padding-left: 38px;
  }
  .goods__branch-down {
    transform: translate(350px, 430px);
  }
  .book {
    width: 302px;
  }
  .dress-branch {
    transform: translate(-441px, -452px);
  }
  .footer {
    margin-top: 50px;
  }
  .footer__flex {
    display: block;
    text-align: center;
  }
  .footer__contacts {
    margin-bottom: 30px;
  }
  .footer__social-title {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .footer__social-items-icons {
    width: 250px;
    margin: 0 auto;
  }
}/*# sourceMappingURL=goods.css.map */